@charset "UTF-8";

body {
	margin: 0;
	padding: 120px;
	background-color: blanchedalmond !important;
}

.navbarmenu {
	width: 100%;
	background-color: white;
	color: white;
	padding: 15px 30px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-color: black;
	justify-content: space-between;
	white-space: nowrap;
}

.navbarmenu img {
	margin-right: 20px;
	width: 50px;
	font-weight: bold;
}

.menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
	gap: 30px;
	white-space: nowrap;
	/* Giữ cho các mục trong menu không bị xuống dòng */
}

.menu li {
	margin-left: 20px;
}

.bnt_logout a {
	margin-right: 120px;
	width: 50px;
	border-color: black;
	font-size: 20px;
	text-decoration: underline;
	white-space: nowrap; /* Giữ cho phần logout không bị xuống dòng */
}

.navbarmenu a {
	font-size: 25px;
	text-decoration: none;
	color: black;
	transition: color 0.3s red;
}

.navbarmenu a:hover {
	text-decoration: underline;
	color: red;
}

/* Cải thiện form tìm kiếm */
.navbarmenu form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbarmenu form button {
	height: 35px;
	width: 100px;
	margin-left: 10px;
	border-color: red;
	transition: 0.3s color red;
	cursor: pointer;
}

.navbarmenu form button:hover {
	color: red;
}

.navbarmenu form input {
	width: 250px;
	height: 30px;
	border-radius: 20px;
	border-color: red;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
    }

    .menu li {
        margin-left: 0;
    }

    .navbar form {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }

    .navbar form input {
        width: 80%;
        margin-bottom: 10px;
    }

    .navbar form button {
        width: 80%;
    }

    .bnt_logout {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
